<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <section class="section">
      <div class="container">
        Toronto Japanese Exchange
      </div>
    </section>
  </body>
</html>
