@charset "utf-8";

$tjex-white: #fafafa;

/* bulma overrides */

$primary: #ea0005;

// navbar
$navbar-background-color: $tjex-white;
$navbar-item-hover-color: $primary;

// box
$box-shadow: none;

@import "../../node_modules/bulma/bulma.sass";
/* end bulma */

html {
  background-color: $tjex-white;
}

.navbar-item img {
  max-height: 3.5rem;
}

.navbar-item.logo {
  flex: 1;
}

.event-card {
  display: flex;
  padding: 0;
  align-items: stretch;

  .level-item {
    flex-grow: 1;
    flex-shrink: 1;
    padding: $box-padding;
    line-height: 1rem;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .event-card__special-alert {
    display: none;
  }

  .level-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $box-padding;
    padding-left: 0;
  }
}

.event-card__start-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $box-padding;
  background: $grey-lightest;
  border-top-left-radius: $box-radius;
  border-bottom-left-radius: $box-radius;
  text-transform: uppercase;
}

.staff-card {
  .image {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;

    img {
      max-width: 10rem;
    }
  }

  i {
    font-size: 5rem;
  }

  .subtitle {
    margin-bottom: 0.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .staff-card.main-staff .image {
    justify-content: flex-end;
  }
}

.staff-card.main-staff {
  .image img {
    max-width: 15rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

p + p {
  margin-top: 1rem;
}

a[href]:not([class]) {
  color: $grey-darker;
  border-bottom: 2pt solid $primary-light;

  &:hover {
    background: $primary-light;
    transition: all 0.2s ease-in-out;
  }
}

.tjex-splash img {
  border-radius: $box-radius;
}
