<!-- views/partials/head.ejs -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />

    <title>TJEX - Toronto Japanese Exchange</title>
    <meta name="description" content="Toronto Japanese Exchange">

    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/09a106c908.js"></script>
</head>
